body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

header {
    text-align: center;
    padding: 50px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

h1, h2 {
    text-align: center;
}

form {
    text-align: center;
}

input, textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

@keyframes fade-in {
    0% {opacity: 0; transform: translateY(50px); }
    100% {opacity: 1; transform: translateY(50); }
}

article {
    clear: both;
    overflow: auto;
    width: 100%;
}
hgroup {
    margin-top: 40px;
}
figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin:  20px;
    border:  1px solid #eeeeee;
}

figure img {
    max-width: 100%;
    max-height: 100%;
}